:root{
  --light-color: 255, 255, 255;
  --dark-color: 2, 2, 2;
  --primary-color: 253, 139, 0;
  --tertiary-color: 0, 98, 106;
  --success-color: 25, 135, 84;
  --danger-color: 176, 42, 55;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
html, body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins, sans-serif);
  outline: none;
}
body {
  position: relative;
  background-color: rgb(var(--light-color));
  color: rgb(var(--dark-color));
}
.container {
  margin-inline: auto;
  width: min(90%, 70rem);
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.15s;
}
button {
  cursor: pointer;
  user-select: none;
}
/* body::before{
  content: "Todo Demo";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15rem;
  font-weight: 600;
  color: rgb(var(--primary-color), .25);
} */
.route{
  position: relative;
  min-height: 100vh;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.route h1{
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color:rgb(var(--tertiary-color), .75)
}